@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.react-player__preview{
  position: relative;
}
.react-player__preview svg{
  z-index: 2;
}
.react-player__preview::before{
  content: '';
  background: #082F1D;
  opacity: 0.25;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slick-dots{
  bottom: -50px !important;
}
.slick-dots li button{
  padding: 0 !important;
}
.slick-dots li button::before{
  font-size: 18px !important;
  color: #ECE3CB !important;
  opacity: .7 !important;
}
.slick-dots li.slick-active button:before{
  color: #FDB3C4 !important;
}
.slick-slider {
  touch-action: auto;
  -ms-touch-action: auto;
  }