@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.react-player__preview {
  position: relative;
}
.react-player__preview svg {
  z-index: 2;
}
.react-player__preview::before {
  content: "";
  background: #082f1d;
  opacity: 0.25;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slick-dots {
  bottom: -50px !important;
}
.slick-dots li button {
  padding: 0 !important;
}
.slick-dots li button::before {
  font-size: 18px !important;
  color: #ece3cb !important;
  opacity: 0.7 !important;
}
.slick-dots li.slick-active button:before {
  color: #fdb3c4 !important;
}
.slick-slider {
  touch-action: auto;
  -ms-touch-action: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  --space: 16px;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 1440px;
}
/* FOR MUTI SCROLL SPACING */
.multi_scroll_content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--content-max-width), 100% - var(--space-md) * 1)
    [content-end]
    1fr [full-end];
}

.multi_scroll_content > * {
  grid-column: content;
}

.multi_scroll_content .multi_scroll_content_gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  padding-block: var(--gap);
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding-left: 70px;
}

@media (max-width: 767px) {
  .multi_scroll_content .multi_scroll_content_gallery {
    padding-left: 0;
  }
}
.multi_scroll_content .multi_scroll_content_gallery .wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.multi_scroll_content .multi_scroll_content_gallery .wrapper::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}
.spanLine span {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  white-space: nowrap;
  color: #b3903e;
}
.spanLine span b {
  font-weight: inherit;
  z-index: 1;
  position: relative;
}
.spanLine span::before {
  content: "";
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 0;
  background-color: #ead388;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .spanLine span::before {
    top: 19px;
    height: 11px;
  }
}

.blog-content {
  color: #0f0f0f;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  padding: 50px 0;
}

.blog-content h2 {
  color: #252526;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1.08px;
  padding-bottom: 24px;
}
.blog-content p ~ h2 {
  padding-top: 60px;
}

.blog-content p + p {
  margin-top: 24px;
}
.blog-content u {
  text-decoration: none;
}
.blog-content h4 {
  color: #0f0f0f;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding: 24px 0;
}
.blog-content > br {
  display: none;
}
.blog-content a {
  color: #1b599f;
  text-decoration: none;
}
.blog-content a:hover {
  text-decoration: underline;
}

.blog-content img {
  width: 100%;
  margin: 20px 0;
}
.blog-content blockquote {
  padding: 24px 0;
}
.blog-content blockquote p {
  color: #252526;
  font-family: Canela;
  font-size: 48px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 0.48px;
}

.blog-content h6 {
  color: var(--ui-interaction-text, #777);
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
.blog-content blockquote + h6 {
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .blog-content h2 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 30px;
  }

  .blog-content p {
    font-size: 15px;
    line-height: 29px;
  }

  .blog-content p + p {
    margin-top: 20px;
  }

  .blog-content blockquote p {
    font-size: 30px;
    line-height: 46px;
  }
}
